<!DOCTYPE html>
<html lang="{{ page.lang | default: 'es' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title %}{{ page.title }} | {% endif %}
    Carlos Pérez – Blog Técnico
  </title>
  <!-- i18n SEO -->
  <link rel="alternate" hreflang="es" href="{{ '/' | absolute_url }}" />
  <link rel="alternate" hreflang="en" href="{{ '/index-en/' | absolute_url }}" />
  <meta name="description" content="{% if page.lang == 'en' %}Technical blog about BGP, RPKI, routing security, IXPs, and automation.{% else %}Blog técnico sobre BGP, RPKI, seguridad de enrutamiento, IXPs y automatización.{% endif %}">


 <!-- Estilos --->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  
</head>

<body class="lang-{{ page.lang | default: 'es' }}">

  {% include header.html %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {% include footer.html %}

</body>
</html>

